# Code Owners <https://git.io/vFXjf>
# ==================================

# This will automatically request a review from someone on either
# Team Applications or Team Platforms, based on the GitHub team's
# review assignment settings. <https://git.io/JeMo3>
*       @dosomething/platforms
